/* Gerais */
*{
    margin: 0;
    padding: 0;
}

.row{
    margin: 0;
}

html{
    font-size: 16px;
}

/* Menu */

#menu{
    background-color: #212c4e;
    height: 12vh;
}

#menu .container{
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}


.container img{
    height: 6rem;
    width: auto;
    padding-top: 0.5rem;
}

/* Conversor */

#converter{
    width: auto;
    height: 80vh;
}

#converter .container{
    display: flex;
    width: auto;
    justify-content: center;
	align-items: center;
    height: 60vh;
}

#converter h2{
    margin-bottom: 5%;
    color: #444;
    text-align: center;
}

#iconChange a{
    transition: .4s;
    color: #444;
    display: block;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}
#iconChange a:hover{
    color: rgb(60, 191, 211);
}

#valueInsert::-webkit-outer-spin-button,
#valueInsert::-webkit-inner-spin-button{
    margin: 0;
    -webkit-appearance: none;
}

#converteButton{
    margin: auto;
    width: auto;
}

#converteButton button{
    margin-left: auto;
    margin-right: auto;
}

.main-btn{
    font-size: 16px;
    background-color: rgb(0, 146, 0);
    color: #fff;
    text-transform: uppercase;
    width: 10rem;
    height: 3rem;
    text-align: center;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .4s;
    font-weight: bold;
    margin-top: 1rem;
}

.main-btn:hover{
    text-decoration: none;
    color: #212c4e;
    background-color: transparent;
    border-color: rgb(0, 146, 0);
}

/* Footer - Copy */

#copy-area{
    background-color: #F1F1F1;
}

#copy-area .container{
    display: flex;
    width: auto;
    justify-content: center;
	align-items: center;
    height: 8vh;
    text-align: center;
}

#copy-area .container p{
    margin-bottom: 0;
}

#copy-area p{
    font-size: 14px;
}

#copy-area .container a{
    font-weight: bold;
    color: #444;
    text-decoration: none;
    transition: .4s;
}

#copy-area .container a:hover{
    text-decoration: none;
    color: #3EC1D5;
}
